.page_info {align-content: center;
  
}





img {width: 100px;

}

#logo {width: 9%;
height: 10%;
}

.hl {
  align-content: center;
  padding-left: 47%;
  padding-bottom: 1.2%;
}

.featured {align-content: center;
}

.feat {float: left;
  color: white;
}


#fire {
  width: 45px;
  float: left;
  padding-left: 0.5%; 
}

.ok {
  padding-left: 10%;

}

.gray_box {
  width:80%;
  padding: 5%;
  align-content: center;
  place-content: center;
  background-color: #4D4D4D;
  border-radius: 55px;
}

.game-name {color: white}

.games_info {float: left;
width: 20%;
align-content: center;
}

#g1 {
  padding-right: 10%;
  padding-left: 10%
}

#g2 {
  padding-right: 7%;
  padding-left: 5%
}

#g3 {
  padding-left: 3%;
}

/*footer {
  padding-top: 18.1%;
  padding-left: 12%;
  background-color: #b4b4b4;
}
.reference_list {color: white;
}

*/


#indx {background: linear-gradient(to bottom, #ceced9 0%, #011c40 100%);
}

#nin {background: linear-gradient(to top left, #000000 0%, #6e1818 22%, #f40000 43%, #e45757 77%, #ffc8c8 100%)
}

#pc {background: linear-gradient(to top right, #000000 12%, #8a8b82 50%, #4f504e 72%, #ffffff 100%)
}

#plst {background: linear-gradient(to top left, #000000 6%, #29285e 28%, #5551db 60%, #b1afff 112%);
}

#xbx {background: linear-gradient(to top right, #132c17 9%, #4d6528 28%, #a1ae1c 59%, #9ced80 112%);
}

#ref {background: linear-gradient(to top right, #000000 6%, #4f504e 24%, #8a8b82 43%, #ffffff 100%);
}



.ref {color: black;
  text-decoration: underline;
  float: left;
}

/*
.socialmedia {
color: black;
padding-right: 15%;
  align-content: right;
}

*/

.footer{
  background-color: #b4b4b4;
}

.references{
  float: left;
  padding-top: 3%;
  padding-left: 8%;
}

.get {
  padding-top: 7%;
}

.socialmedia{
  padding-left: 70%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fe3d2d;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 80%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  
}

.sidenav a:hover {
  color: #fe3d2d;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@font-face{
  font-family: "autotechno";
  src: url("./fonts/nasa.otf");

}

@font-face {
  font-family: "cubic";
  src: url("./fonts/cubic.woff2") format("woff2");
}

@font-face{
  font-family: "pokemon";
  src: url(./fonts/pokemonclassic.ttf);
}

h2 {font-family: "autotechno";
  height: 15pt;
}

h1 {font-family: "cubic";
  color: red;
  scale: 160%;
  padding-left: 25%
}

p {
  font-family: "pokemon";
  scale: 82%
}




